<div id="sticky-cv-anchor"></div>
<div id="sticky-cv" class="cv-nav">
    <!--
	<div class="header-line" ng-class="{'orange-border': setOrange, 'green-border': setGreen, 'pink-border': setPink}">
		<img src="http://placekitten.com/g/300/300" />
		<h2 id="navigation">FAST TRAVEL</h2>
	</div>
    -->
    <ul class="cv-nav-list">
        <li><a href="#education" du-smooth-scroll du-scrollspy>Education</a>
        </li>
        <li><a href="#work" du-smooth-scroll du-scrollspy>Work</a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="header-line" ng-class="{'orange-border': setOrange, 'green-border': setGreen, 'pink-border': setPink}">
        <img src="http://placekitten.com/g/300/300" />
        <h2 id="education">EDUCATION</h2>
    </div>
    <div class="cv-list-wrapper">
        <ul class="cv-list">
            <li ng-repeat="el in cv.education">
                <div class="cv-part" onClick="expandInfo(this)">
                    <img src="http://placekitten.com/g/300/300" />
                    <div class="main-info">
                        <h3>{{el.name}}</h3>
                        <h4>{{el.startTime}} - {{el.endTime}}</h4>
                        <p class="cv-tags"><span ng-repeat="tag in el.tags">{{tag}}<span ng-show=" ! $last ">, </span><span ng-show="$last ">.</span></span>
                        </p>
                    </div>
                    <div class="extra-info">
                        <p>{{el.description}}</p>
                        <ul>
                            <li ng-repeat="achievement in el.achievements">{{achievement}}</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="header-line" ng-class="{'orange-border': setOrange, 'green-border': setGreen, 'pink-border': setPink}">
        <img src="http://placekitten.com/g/300/300" />
        <h2 id="work">WORK</h2>
    </div>
    <ul class="cv-list">
        <li ng-repeat="el in cv.work">
            <div class="cv-part" onClick="expandInfo(this)">
                <img src="http://placekitten.com/g/300/300" />
                <div class="main-info">
                    <h3>{{el.name}}</h3>
                    <h4>{{el.startTime}} - {{el.endTime}}</h4>
                    <p class="cv-tags"><span ng-repeat="tag in el.tags">{{tag}}<span ng-show=" ! $last ">, </span><span ng-show="$last ">.</span></span>
                    </p>
                </div>
                <div class="extra-info">
                    <p>{{el.description}}</p>
                    <ul>
                        <li ng-repeat="achievement in el.achievements">{{achievement}}</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>