<div id="sticky-cv-anchor"></div>
<div id="sticky-cv" class="cv-nav">
    <ul class="cv-nav-list">
        <li><a href="#core" du-smooth-scroll du-scrollspy>Core</a>
        </li>
        <li><a href="#work" du-smooth-scroll du-scrollspy>Work</a>
        </li>
        <li><a href="#skills" du-smooth-scroll du-scrollspy>Skills</a>
        </li>
        <li><a href="#education" du-smooth-scroll du-scrollspy>Education</a>
        </li>
        <li><a href="#software" du-smooth-scroll du-scrollspy>Software</a>
        </li>
        <li><a href="#languages" du-smooth-scroll du-scrollspy>Languages</a>
        </li>
    </ul>
</div>
<div class="container">
   <div id="core" class="inline">
        <div class="header-line green fixed-margin-top">
            <span class="flaticon-fire"></span>
            <h2 class="default-cursor">CORE</h2>
        </div>
        <div class="cv-list-wrapper default-cursor">
            <ul class="cv-focus">
                <li ng-repeat="(title, score) in cv.core" class="columns list core-skill">
                    <hr />
                    <div class="core-skill-text">
                        <h2>{{title}}</h2>
                        <h3>{{score}}/5</h3>
                    </div>
                    <hr />
                </li>
            </ul>
        </div>
    </div>
    <div id="work" class="inline">
        <div class="header-line green">
            <span class="flaticon-news"></span>
            <h2 class="default-cursor">WORK</h2>
        </div>
        <ul class="cv-list">
            <li ng-repeat="el in cv.work">
                <div class="cv-part" onClick="expandInfo(this)">
                    <img ng-src="{{el.thumbUrl}}" />
                    <div class="main-info">
                        <h3>{{el.name}}</h3>
                        <h4>{{el.startTime}} - {{el.endTime}}</h4>
                        <p class="cv-tag-paragraph"><span class="cv-tags" ng-repeat="tag in el.tags">{{tag}}<span class="cv-tags" ng-show=" ! $last ">, </span><span class="cv-tags" ng-show="$last ">.</span></span>
                        </p>
                    </div>
                    <div class="extra-info">
                        <div class="extra-padding centered">
                            <span class="snippet">"{{el.snippet}}"</span>
                        </div>
                        <p>{{el.description}}</p>
                        <h3>Achievements</h3>
                        <ul>
                            <li ng-repeat="achievement in el.achievements"><span class="achievements">{{achievement}}</span></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="skills" class="inline">
        <div class="header-line green">
            <span class="flaticon-lab"></span>
            <h2 class="default-cursor">SKILLS</h2>
        </div>
        <div class="cv-list-wrapper">
            <ul>
                <li ng-repeat="el in cv.skills" class="columns four-list sub-skill">
                    <h2 class="extra-margin sneaky-bot-border default-cursor">{{el.title}}</h2>
                    <div ng-repeat="tag in el.tags">
                        <p>{{tag}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="education" class="inline">
        <div class="header-line green">
            <span class="flaticon-study"></span>
            <h2 class="default-cursor">EDUCATION</h2>
        </div>
        <div class="cv-list-wrapper">
            <ul class="cv-list">
                <li ng-repeat="el in cv.education">
                    <div class="cv-part" onClick="expandInfo(this)">
                        <img ng-src="{{el.thumbUrl}}" />
                        <div class="main-info">
                            <h3>{{el.name}}</h3>
                            <h4>{{el.startTime}} - {{el.endTime}}</h4>
                            <p class="cv-tag-paragraph"><span class="cv-tags" ng-repeat="tag in el.tags">{{tag}}<span class="cv-tags" ng-show=" ! $last ">, </span><span class="cv-tags" ng-show="$last ">.</span></span>
                            </p>
                        </div>
                        <div class="extra-info">
                            <div class="extra-padding centered">
                                <span class="snippet">"{{el.snippet}}"</span>
                            </div>
                            <p>{{el.description}}</p>
                            <h3>Achievements</h3>
                            <ul>
                                <li ng-repeat="achievement in el.achievements"><span class="achievements">{{achievement}}</span></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div id="software" class="inline">
        <div class="header-line green">
            <span class="flaticon-display14"></span>
            <h2 class="default-cursor">SOFTWARE</h2>
        </div>
        <div class="cv-list-wrapper default-cursor">
            <ul class="cv-focus">
                <li ng-repeat="(title, score) in cv.software" class="columns list core-skill">
                    <hr >
                    <div class="core-skill-text">
                        <h2>{{title}}</h2>
                        <h4>{{score}}</h4>
                    </div>
                    <hr >
                </li>
                <p class="cv-tags margin-top">Don't worry, I know my way around most software. Oh, and if I don't, I love figuring stuff out!</p>
            </ul>
        </div>
    </div>
    <div id="languages" class="inline">
    <div class="header-line green">
        <span class="flaticon-big59"></span>
        <h2 class="default-cursor">HUMAN LANGUAGES</h2>
    </div>
    <div class="cv-list-wrapper default-cursor">
        <ul class="cv-focus">
            <li ng-repeat="(title, score) in cv.languages" class="columns list core-skill">
                <hr >
                    <div class="core-skill-text">
                        <h2>{{title}}</h2>
                        <h4>{{score}}</h4>
                    </div>
                <hr >
            </li>
            <p class="cv-tags margin-top">Might know Spanish if you ask nicely... and I'm fluent in 1337 5P34K.</p>
        </ul>
    </div>
    </div>
</div>