<div class="container">
    <div class="squeeze">
        <h2>Home</h2>
        <p class="cv-tags">DISCLAIMER: This whole site is extremely under construction. Keep that in mind.</p>
        <p>I recently updated the site slightly in order to make it responsive. At the same time, I made a lot of things more efficient, so you'll probably have a better experience visiting the site. I'll add some more projects as soon as I can. Until then, enjoy!</p>
        <p>Suggestions and feedback gladly received at <span class="sneaky blue">{{email}}!</span></p>
        <br>
        <div class="align-left">
            <div class="columns list align-left">
                <h3>Done</h3>
                <ul class="align-left">
                    <li>Portfolio page</li>
                    <li>Project pages</li>
                    <li>CV</li>
                </ul>
            </div>
            <div class="columns list align-left">
                <h3>On The Horizon</h3>
                <ul class="align-left">
                    <li>This page</li>
                    <li>Introduction</li>
                </ul>
            </div>
            <div class="columns list align-left">
                <h3>Continuously</h3>
                <ul class="align-left">
                    <li>Adding projects<span class="cv-tags"> - Soon</span></li>
                </ul>
            </div>
        </div>
        <br>
        <p class="cv-tags">I'll try to keep this updated.</p>
    </div>
</div>