<div class="container">
    <div class="squeeze">
        <h2>Home</h2>
        <p class="cv-tags">DISCLAIMER: This whole site is extremely under construction. Keep that in mind.</p>
        <br>
        <div class="align-left">
            <div class="columns list align-left">
                <h3>Done</h3>
                <ul class="align-left">
                    <li>Portfolio page</li>
                </ul>
            </div>
            <div class="columns list align-left">
                <h3>Almost Done</h3>
                <ul class="align-left">
                    <li>CV</li>
                </ul>
            </div>
            <div class="columns list align-left">
                <h3>Not Even Started</h3>
                <ul class="align-left">
                    <li>This page</li>
                    <li>Introduction</li>
                    <li>Project pages<span class="cv-tags"> - Next</span></li>
                    <li>Adding projects</li>
                </ul>
            </div>
        </div>
        <br>
        <p class="cv-tags">I'll try to keep this updated.</p>
    </div>
</div>