<div class="container">
    <div class="squeeze">
        <h2>Introduction</h2>
        <p class="cv-tags">DISCLAIMER: This text was written before Tolkien met his first orc.</p>
        <p>Currently swooping through my bachelor's and master's degree (computer sceience, HCI) at KTH with a single thought in my mind. This rocks, and as long as I stay positive and do things I enjoy, I'll end up somewhere where I'll be able to perform godly tasks while still having tonnes (yes, metric tonnes) of fun.</p>

    <p>As of now, and probably for the forseeable future, my passion is front-end, HCI and design with a personal goal of having a part in every design used by the computer science chapter at KTH. I think I'm half-way there soon enough! I have a few years to realize the goal as well, so I think I'm all set!</p>

    <p>Some day soon I'll conquer the world and make it a slightly more positive place.</p>
        <p class="cv-tags">Yes, it'll get updated before final release.</p>
    </div>
</div>