<div class="container">
	<div class="text-block">
		<h2>Portfolio</h2>
		<p>Throughout the years I have managed to do some projects. This is the place where I store a subsection of them in order for other people to enjoy! For the time being, the projects will be related to different courses at school as well as some projects done in my spare time. By using the search field to the right you will be able to search for titles or keywords that you might be interested in.</p>
	</div>
	<div class="side-bar">
		<h2>Search</h2>
		<div class="sub-side-bar" ng-class="{'orange-border': setOrange, 'green-border': setGreen, 'pink-border': setPink}">
			<input ng-model="query" placeholder="KTH, Angular, Photoshop, Web...">
			<p class="subtext">Feel free to use the search field to sort through the projects below.</p>
		</div>
	</div>
	<div class="image-container">
		<ul class="projects">
			<li ng-repeat="project in projects | filter: query" class="project-thumb">
				<div class="thumb">
					<a href="#/projects/{{project.id}}"><img class="thumb-img" ng-src="{{project.thumbUrl}}"></a>
					<div class="thumb-cover">
						<div class="thumb-cover-left">
							<a class="project-title" href="#/projects/{{project.id}}">{{project.title}}</a>
							<p>{{project.snippet}}</p>
							<p><span class="project-tags" ng-repeat="tag in project.tags">{{tag}}<span class="project-tags" ng-show=" ! $last ">, </span><span class="project-tags" ng-show="$last ">.</span></span>
                            </p>
						</div>
				        <a href="#/projects/{{project.id}}">
                            <div class="thumb-cover-right">
                                <img src="img/arrow.png">
                            </div>
						</a>
					</div>
		    	</div>
		  	</li>
		</ul>
	</div>
	<h2 class="centered sneaky">I'm continuously adding projects. The projects are most likely not even remotely done yet.</h3>
	<div class="image-container">
		<ul class="projects">
			<li ng-repeat="project in projects | filter: query" class="pro-thumb">
                <a href="#/projects/{{project.id}}"><img class="pro-thumb-img" ng-src="{{project.thumbUrl}}"></a>
                <div class="hover-guard" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <a class="pro-title" ng-class="{'pro-title-shown': hover}" href="#/projects/{{project.id}}">{{project.title}}</a>
                    <div class="pro-description" ng-class="{'pro-description-shown': hover}">
                        <p>{{project.snippet}}</p>
                        <p><span class="project-tags" ng-repeat="tag in project.tags">{{tag}}<span class="project-tags" ng-show=" ! $last ">, </span><span class="project-tags" ng-show="$last ">.</span></span>
                        </p>
                    </div>
                </div>
		  	</li>
		  	
		</ul>
                
	</div>
</div>