
<div class="full-width header-image">
    <img ng-src="{{project.header}}">
</div>
<div class="outer-container">
    <a href="#/portfolio">
        <div id="back-to-projects">
            <img src="img/arrow.png">
            <span class="vertical-text">Back to projects</span>
        </div>
    </a>
    <div class="container">

        <div class="header-line pink">
            <h2 class="default-cursor">{{project.title}}</h2>
        </div>
        <div class="less-squeezed min-height">
            <div class="project-description">
                <p>{{project.description}}</p>
            </div>
            <div class="project-facts">
                <ul>
                   <li ng-repeat="(title, info) in project.facts"><p><b style="text-transform: capitalize">{{title}}:</b> {{info}}</p></li>
                </ul>
            </div>
        </div>
        <div class="cv-list-wrapper">
            <ul class="cv-focus core-skill expando-box" onClick="expandProjectInfo(this)">
                <h2 class="sneaky">{{project.more}}</h2>
                <div class="extra-info centered">
                    <li ng-repeat="section in project.details" class="columns list sub-skill">
                        <h2>{{section.title}}</h2>
                        <div ng-repeat="tag in section.tags">
                            <p>{{tag}}</p>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

        <div class="header-line pink">
            <span class="flaticon-camera7"></span>
            <h2 class="default-cursor">Media</h2>
        </div>
        <div class="image-container">
            <ul class="project-preview">
                <li ng-repeat="img in project.images"><a class="fancybox" rel="gallery" ng-href="{{img}}"><div class="inner-picture-wrapper"><img class="project-preview-image" ng-src="{{img}}" alt=""></div></a></li>
            </ul>
        </div>
        
        <div class="centered">
            <div class="dual-column">
                <div class="header-line pink">
                    <span class="flaticon-small61"></span>
                    <h2 class="default-cursor">Reflection</h2>
                </div>
                <div class="less-squeezed">
                    <p>{{project.reflection}}</p>
                </div>
            </div>
            <div class="dual-column">
                <div class="header-line pink">
                    <span class="flaticon-settings3"></span>
                    <h2 class="default-cursor">Process</h2>
                </div>
                <div class="less-squeezed">
                    <p>{{project.process}}</p>
                </div>
            </div>
        </div>
        
        <div class="centered">
            <div class="dual-column">
                <div class="header-line pink">
                    <span class="flaticon-world5"></span>
                    <h2 class="default-cursor">Links</h2>
                </div>
                <div class="less-squeezed">
                    <p>{{project.links}}</p>
                </div>
            </div>
            <div class="dual-column">
                <div class="header-line pink">
                    <span class="flaticon-news"></span>
                    <h2 class="default-cursor">Information</h2>
                </div>
                <div class="less-squeezed">
                    <p>{{project.information}}</p>
                </div>
            </div>
        </div>
    </div>
</div>