/*
    GENERAL STUFF
*/

html, body, div, span,
  h1, h2, h3, h4, h5, h6, p,
  img, ul, li, footer, header {
    margin: 0px;
    padding: 0px;
}
html,
body {
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}

body {
  background-color: #000;    
}

a, i {
  color: #fff;
}

a {
  font-family: 'Open Sans', Arial, sans-serif;
}

/* Removing decorations from links */
a:link {text-decoration:none;}
a:visited {
  text-decoration:none;
  color: #666666;
}
a:hover {
  text-decoration:none;
  color: #bbb;
}
a:active {text-decoration:none;}

p, span {
  font-family: 'Open Sans', sans-serif;
  color: #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #eee;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#content {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0px auto;
  border-radius: 20px;
  z-index: 2;
  box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 0.8);
  transition: .5s ease-in-out;
}

#introduction {
  margin-top: 10px;
  line-height: 150%;
}

#introduction a, #introduction span {
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  pointer-events: all;
}

#header {
  position: relative;
  top: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 6em;
  padding: 0px;
  margin: 0px;
  pointer-events: none;
  color: #eee;
  line-height: 1.1;
  text-shadow: 0px 5px 10px rgba(100, 100, 100, 0.5);
  cursor: default;
  z-index: 2;
  border-bottom: 2px solid #fff;
  transition: .5s ease-in-out;
}

nav p, .clickable, .circle, .icon {
  transition: 0.5s;
}

nav {
  margin-top: 20px;
  text-align: center;
  pointer-events: all;
}

li, a {
  display: inline-block;
}

nav p {
  margin-top: -10px;
  color: #666;
}

.clickable {
  position: relative;
}

.circle {
  cursor: pointer;
  z-index: 5;
  display: inline-block;
  border-radius: 50%;
  margin: 15px;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 4px dashed #eee;
}

.icon {
  color: #eee;
  position: relative;
  top: 19px;
  font-size: 2em;
}

.clickable:hover .circle {
  border-color: #666;
  animation-name: spin;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.clickable:hover .icon {
  color: #666;
  animation-name: spin-ccw;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.clickable:hover p {
  color: #eee;
}

@media screen and (max-width: 800px)  {
  #content {
    width: 80%;
    height: auto;
    margin: 0px auto;
    text-align: center;
  }

  #introduction {
    margin-top: 30px;
  }

  #header {
    top: 20px;
  }
}

/* ANIMATION */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spin-ccw {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}